@model Breach;

<h5 id="detailsHeading" class="mb-2"></h5>
<div class="row justify-content-center bg-dark rounded breach-logo">
    <img src="@Model.LogoPath" class="m-2" />
</div>

@await Html.PartialAsync("BreachDetailRowPartial", new Tuple<string, string>("Name:", @Model.Name))
@await Html.PartialAsync("BreachDetailRowPartial", new Tuple<string, string>("Datum:", @Model.GetFormattedBreachDate()))
@await Html.PartialAsync("BreachDetailRowPartial", new Tuple<string, string>("Anzahl betroffener Nutzer:", @Model.GetDottedPwnCount()))
@await Html.PartialAsync("BreachDetailRowPartial", new Tuple<string, string>("Betroffene Daten:", String.Join(", ", @Model.DataClasses)))
@await Html.PartialAsync("BreachDetailRowPartial", new Tuple<string, string>("Bestätigter Hack:", @Model.IsVerified ? "Ja" : "Nein"))